In [ ]:
import requests
import pandas as pd
from IPython.display import display
import re

API_KEY = "01946b8515c545443cdcd262a884a88dab1be54962aad37f4f93c3420cc49844"
headers = {"X-API-Key": API_KEY}


#url_1 = "https://api.openaq.org/v3/sensors/3917"
#url_2 = "https://api.openaq.org/v3/sensors/3917/measurements"
#url = "https://api.openaq.org/v3/locations?bbox=-10.5,36,9.6,51.1"
#url = "https://api.openaq.org/v3/sensors/3917/days/monthly"
#url = "https://api.openaq.org/v3/sensors/3917/years"
#url = "https://api.openaq.org/v3/sensors/3917/days"
#url = "https://api.openaq.org/v3/sensors/3917/measurements"
#url = "https://api.openaq.org/v3/parameters"
#url = "https://api.openaq.org/v3/locations"
#url = "https://api.openaq.org/v3/countries"

params = {
    
    "limit": 1000,
    "page": 1  # Initialize page
    
}

all_results = []

while True:
    response = requests.get(url, headers=headers)
    if response.status_code != 200:
        print("Error:", response.status_code, response.text)
        break

    data = response.json()
    results = data.get('results', [])

    # If no more data, exit loop
    if not results:
        break

    all_results.extend(results)
    print(f"Retrieved {len(results)} records")

    # If returned fewer than limit, we're on the last page
    if len(results) < params['limit']:
        break

    # Otherwise, fetch the next page
    params['page'] += 1

print(f"Total records retrieved: {len(all_results)}")

# Convert all_results into a DataFrame
df = pd.DataFrame(all_results)

# Extraire le numéro de sensor depuis l'URL
sensor_id_match = re.search(r'/sensors/(\d+)', url)
sensor_id = int(sensor_id_match.group(1)) if sensor_id_match else None

# Ajouter la colonne 'sensor_id' au DataFrame
df['sensor_id'] = sensor_id

# Afficher le DataFrame
display(df)

Retrieved 100 records
Total records retrieved: 100

,id,name,locality,timezone,country,owner,provider,isMobile,isMonitor,instruments,sensors,coordinates,licenses,bounds,distance,datetimeFirst,datetimeLast,sensor_id
0,3,NMA - Nima,None,Africa/Accra,"{'id': 152, 'code': 'GH', 'name': 'Ghana'}","{'id': 4, 'name': 'Unknown Governmental Organi...","{'id': 209, 'name': 'Dr. Raphael E. Arku and C...",False,True,"[{'id': 2, 'name': 'Government Monitor'}]","[{'id': 6, 'name': 'pm10 µg/m³', 'parameter': ...","{'latitude': 5.58389, 'longitude': -0.19968}",None,"[-0.19968, 5.58389, -0.19968, 5.58389]",None,None,None,None
1,4,NMT - Nima,None,Africa/Accra,"{'id': 152, 'code': 'GH', 'name': 'Ghana'}","{'id': 4, 'name': 'Unknown Governmental Organi...","{'id': 209, 'name': 'Dr. Raphael E. Arku and C...",False,True,"[{'id': 2, 'name': 'Government Monitor'}]","[{'id': 7, 'name': 'pm10 µg/m³', 'parameter': ...","{'latitude': 5.58165, 'longitude': -0.19898}",None,"[-0.19898, 5.58165, -0.19898, 5.58165]",None,None,None,None
2,5,JTA - Jamestown,None,Africa/Accra,"{'id': 152, 'code': 'GH', 'name': 'Ghana'}","{'id': 4, 'name': 'Unknown Governmental Organi...","{'id': 209, 'name': 'Dr. Raphael E. Arku and C...",False,True,"[{'id': 2, 'name': 'Government Monitor'}]","[{'id': 10, 'name': 'pm10 µg/m³', 'parameter':...","{'latitude': 5.5401139, 'longitude': -0.2103972}",None,"[-0.2103972, 5.5401139, -0.2103972, 5.5401139]",None,None,None,None
3,6,ADT - Asylum Down,None,Africa/Accra,"{'id': 152, 'code': 'GH', 'name': 'Ghana'}","{'id': 4, 'name': 'Unknown Governmental Organi...","{'id': 209, 'name': 'Dr. Raphael E. Arku and C...",False,True,"[{'id': 2, 'name': 'Government Monitor'}]","[{'id': 11, 'name': 'pm10 µg/m³', 'parameter':...","{'latitude': 5.570722, 'longitude': -0.2120555}",None,"[-0.2120555, 5.570722, -0.2120555, 5.570722]",None,None,None,None
4,7,ADEPA - Asylum Down,None,Africa/Accra,"{'id': 152, 'code': 'GH', 'name': 'Ghana'}","{'id': 4, 'name': 'Unknown Governmental Organi...","{'id': 209, 'name': 'Dr. Raphael E. Arku and C...",False,True,"[{'id': 2, 'name': 'Government Monitor'}]","[{'id': 14, 'name': 'pm10 µg/m³', 'parameter':...","{'latitude': 5.567833, 'longitude': -0.2040278}",None,"[-0.2040278, 5.567833, -0.2040278, 5.567833]",None,None,None,None
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
95,146,Southwark - A2 Old Kent Road FIDAS,Southwark,Europe/London,"{'id': 79, 'code': 'GB', 'name': 'United Kingd...","{'id': 4, 'name': 'Unknown Governmental Organi...","{'id': 205, 'name': 'London Air Quality Network'}",False,True,"[{'id': 2, 'name': 'Government Monitor'}]","[{'id': 251, 'name': 'no2 µg/m³', 'parameter':...","{'latitude': 51.4804994936467, 'longitude': -0...","[{'id': 34, 'name': 'UK OGL ""Open Government L...","[-0.0595528932573422, 51.4804994936467, -0.059...",None,"{'utc': '2016-01-30T01:00:00Z', 'local': '2016...","{'utc': '2025-02-13T13:00:00Z', 'local': '2025...",None
96,147,Greenwich - Eltham,Greenwich,Europe/London,"{'id': 79, 'code': 'GB', 'name': 'United Kingd...","{'id': 4, 'name': 'Unknown Governmental Organi...","{'id': 205, 'name': 'London Air Quality Network'}",False,True,"[{'id': 2, 'name': 'Government Monitor'}]","[{'id': 233, 'name': 'no2 µg/m³', 'parameter':...","{'latitude': 51.45258, 'longitude': 0.070766}","[{'id': 34, 'name': 'UK OGL ""Open Government L...","[0.070766, 51.45258, 0.070766, 51.45258]",None,"{'utc': '2016-02-01T11:00:00Z', 'local': '2016...","{'utc': '2024-05-30T08:00:00Z', 'local': '2024...",None
97,148,London Bloomsbury - UKA00211,London,Europe/London,"{'id': 79, 'code': 'GB', 'name': 'United Kingd...","{'id': 4, 'name': 'Unknown Governmental Organi...","{'id': 70, 'name': 'EEA'}",False,True,"[{'id': 2, 'name': 'Government Monitor'}]","[{'id': 238, 'name': 'no2 µg/m³', 'parameter':...","{'latitude': 51.52228999923011, 'longitude': -...","[{'id': 30, 'name': 'CC BY-SA 4.0 DEED', 'attr...","[-0.12588900021133392, 51.52228999923011, -0.1...",None,"{'utc': '2016-01-30T01:00:00Z', 'local': '2016...","{'utc': '2025-02-13T14:00:00Z', 'local': '2025...",None
98,149,Ealing - Horn Lane TEOM,Ealing,Europe/London,"{'id': 79, 'code': 'GB', 'name': 'United Kingd...","{'id': 4, 'name': 'Unknown Governmental Organi...","{'id': 205, 'name': 'London Air Quality Network'}",False,True,"[{'id': 2, 'name': 'Government Monitor'}]","[{'id': 1304579, 'name': 'no2 µg/m³', 'paramet...","{'latitude': 51.5189160348806, 'longitude': -0...","[{'id': 34, 'name': 'UK OGL ""Open Government L...","[-0.265652052386222, 51.5189160348806, -0.2656...",None,"{'utc': '2016-01-30T01:00:00Z', 'local': '2016...","{'utc': '2025-02-13T14:00:00Z', 'local': '2025...",None
99,150,London Haringey Priory Park South - UKA00568,London,Europe/London,"{'id': 79, 'code': 'GB', 'name': 'United Kingd...","{'id': 4, 'name': 'Unknown Governmental Organi...","{'id': 70, 'name': 'EEA'}",False,True,"[{'id': 2, 'name': 'Government Monitor'}]","[{'id': 231, 'name': 'no2 µg/m³', 'parameter':...","{'latitude': 51.58412799971813, 'longitude': -...","[{'id': 30, 'name': 'CC BY-SA 4.0 DEED', 'attr...","[-0.1252540000016108, 51.58412799971813, -0.12...",None,"{'utc': '2016-01-30T01:00:00Z', 'local': '2016...","{'utc': '2025-02-13T14:00:00Z', 'local': '2025...",None

In [68]:
df.to_csv("pollution_data/locations_bbox.csv")