In [28]:
import requests
import pandas as pd
from IPython.display import display
import re

API_KEY = "01946b8515c545443cdcd262a884a88dab1be54962aad37f4f93c3420cc49844"
headers = {"X-API-Key": API_KEY}


# Getting worldwide sensor locations  and unpack the country

url= "https://api.openaq.org/v3/locations"

params = {
    "limit": 1000,
    "page": 1
}

all_results = []

while True:
    response = requests.get(url, headers=headers, params=params)
    if response.status_code != 200:
        print("Error:", response.status_code, response.text)
        break

    data = response.json()
    results = data.get('results', [])

    all_results.extend(results)
    print(f"Retrieved {len(results)} records")

    if len(results) < params['limit']:
        break

    params['page'] += 1

print(f"Total records retrieved: {len(all_results)}")

# Convert all_results into a DataFrame
df_locations = pd.DataFrame(all_results)
display(df_locations)

Retrieved 1000 records
Retrieved 1000 records
Retrieved 1000 records
Retrieved 1000 records
Retrieved 1000 records
Retrieved 1000 records
Retrieved 1000 records
Retrieved 1000 records
Retrieved 1000 records
Retrieved 1000 records
Retrieved 1000 records
Retrieved 1000 records
Retrieved 1000 records
Retrieved 1000 records
Retrieved 1000 records
Retrieved 1000 records
Retrieved 1000 records
Retrieved 1000 records
Retrieved 1000 records
Retrieved 472 records
Total records retrieved: 19472

,id,name,locality,timezone,country,owner,provider,isMobile,isMonitor,instruments,sensors,coordinates,licenses,bounds,distance,datetimeFirst,datetimeLast
0,3,NMA - Nima,None,Africa/Accra,"{'id': 152, 'code': 'GH', 'name': 'Ghana'}","{'id': 4, 'name': 'Unknown Governmental Organi...","{'id': 209, 'name': 'Dr. Raphael E. Arku and C...",False,True,"[{'id': 2, 'name': 'Government Monitor'}]","[{'id': 6, 'name': 'pm10 µg/m³', 'parameter': ...","{'latitude': 5.58389, 'longitude': -0.19968}",None,"[-0.19968, 5.58389, -0.19968, 5.58389]",None,None,None
1,4,NMT - Nima,None,Africa/Accra,"{'id': 152, 'code': 'GH', 'name': 'Ghana'}","{'id': 4, 'name': 'Unknown Governmental Organi...","{'id': 209, 'name': 'Dr. Raphael E. Arku and C...",False,True,"[{'id': 2, 'name': 'Government Monitor'}]","[{'id': 7, 'name': 'pm10 µg/m³', 'parameter': ...","{'latitude': 5.58165, 'longitude': -0.19898}",None,"[-0.19898, 5.58165, -0.19898, 5.58165]",None,None,None
2,5,JTA - Jamestown,None,Africa/Accra,"{'id': 152, 'code': 'GH', 'name': 'Ghana'}","{'id': 4, 'name': 'Unknown Governmental Organi...","{'id': 209, 'name': 'Dr. Raphael E. Arku and C...",False,True,"[{'id': 2, 'name': 'Government Monitor'}]","[{'id': 10, 'name': 'pm10 µg/m³', 'parameter':...","{'latitude': 5.5401139, 'longitude': -0.2103972}",None,"[-0.2103972, 5.5401139, -0.2103972, 5.5401139]",None,None,None
3,6,ADT - Asylum Down,None,Africa/Accra,"{'id': 152, 'code': 'GH', 'name': 'Ghana'}","{'id': 4, 'name': 'Unknown Governmental Organi...","{'id': 209, 'name': 'Dr. Raphael E. Arku and C...",False,True,"[{'id': 2, 'name': 'Government Monitor'}]","[{'id': 11, 'name': 'pm10 µg/m³', 'parameter':...","{'latitude': 5.570722, 'longitude': -0.2120555}",None,"[-0.2120555, 5.570722, -0.2120555, 5.570722]",None,None,None
4,7,ADEPA - Asylum Down,None,Africa/Accra,"{'id': 152, 'code': 'GH', 'name': 'Ghana'}","{'id': 4, 'name': 'Unknown Governmental Organi...","{'id': 209, 'name': 'Dr. Raphael E. Arku and C...",False,True,"[{'id': 2, 'name': 'Government Monitor'}]","[{'id': 14, 'name': 'pm10 µg/m³', 'parameter':...","{'latitude': 5.567833, 'longitude': -0.2040278}",None,"[-0.2040278, 5.567833, -0.2040278, 5.567833]",None,None,None
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
19467,3402591,Ferntree Drive,None,Pacific/Auckland,"{'id': 180, 'code': 'NZ', 'name': 'New Zealand'}","{'id': 12, 'name': 'AirGradient'}","{'id': 66, 'name': 'AirGradient'}",False,False,"[{'id': 7, 'name': 'AirGradient Sensor'}]","[{'id': 12187639, 'name': 'pm1 µg/m³', 'parame...","{'latitude': -45.8605245, 'longitude': 170.476...","[{'id': 41, 'name': 'CC BY 4.0 DEED', 'attribu...","[170.4768072, -45.8605245, 170.4768072, -45.86...",None,"{'utc': '2025-02-13T20:00:00Z', 'local': '2025...","{'utc': '2025-02-14T17:00:00Z', 'local': '2025..."
19468,3402593,TPN Packaging,None,Asia/Bangkok,"{'id': 111, 'code': 'TH', 'name': 'Thailand'}","{'id': 12, 'name': 'AirGradient'}","{'id': 66, 'name': 'AirGradient'}",False,False,"[{'id': 7, 'name': 'AirGradient Sensor'}]","[{'id': 12187644, 'name': 'pm1 µg/m³', 'parame...","{'latitude': 13.587370852277184, 'longitude': ...","[{'id': 41, 'name': 'CC BY 4.0 DEED', 'attribu...","[100.94784483015584, 13.587370852277184, 100.9...",None,"{'utc': '2025-02-14T07:00:00Z', 'local': '2025...","{'utc': '2025-02-14T17:00:00Z', 'local': '2025..."
19469,3402594,Thung Hua Sinn Printing Network,None,Asia/Bangkok,"{'id': 111, 'code': 'TH', 'name': 'Thailand'}","{'id': 12, 'name': 'AirGradient'}","{'id': 66, 'name': 'AirGradient'}",False,False,"[{'id': 7, 'name': 'AirGradient Sensor'}]","[{'id': 12187649, 'name': 'pm1 µg/m³', 'parame...","{'latitude': 13.579648742936051, 'longitude': ...","[{'id': 41, 'name': 'CC BY 4.0 DEED', 'attribu...","[100.94081408928972, 13.579648742936051, 100.9...",None,"{'utc': '2025-02-14T12:00:00Z', 'local': '2025...","{'utc': '2025-02-14T17:00:00Z', 'local': '2025..."
19470,3402685,Airscape Fans Inc.,None,America/Los_Angeles,"{'id': 155, 'code': 'US', 'name': 'United Stat...","{'id': 12, 'name': 'AirGradient'}","{'id': 66, 'name': 'AirGradient'}",False,False,"[{'id': 7, 'name': 'AirGradient Sensor'}]","[{'id': 12188253, 'name': 'pm1 µg/m³', 'parame...","{'latitude': 42.349434084691644, 'longitude': ...","[{'id': 41, 'name': 'CC BY 4.0 DEED', 'attribu...","[-122.89722370115797, 42.349434084691644, -122...",None,"{'utc': '2025-02-11T18:00:00Z', 'local': '2025...","{'utc': '2025-02-12T22:00:00Z', 'local': '2025..."
19471,3402687,Breslau,None,America/Toronto,"{'id': 156, 'code': 'CA', 'name': 'Canada'}","{'id': 12, 'name': 'AirGradient'}","{'id': 66, 'name': 'AirGradient'}",False,False,"[{'id': 7, 'name': 'AirGradient Sensor'}]","[{'id': 12188258, 'name': 'pm1 µg/m³', 'parame...","{'latitude': 43.472989, 'longitude': -80.412772}","[{'id': 41, 'name': 'CC BY 4.0 DEED', 'attribu...","[-80.412772, 43.472989, -80.412772, 43.472989]",None,"{'utc': '2025-02-11T23:00:00Z', 'local': '2025...","{'utc': '2025-02-12T02:00:00Z', 'local': '2025..."

In [29]:
df_country = df_locations['country'].apply(pd.Series)
df_country.columns= ['country_id', 'country_code', 'country_name']
df_locations=pd.concat([df_locations,df_country],axis=1)
df_locations.drop(['owner', 'provider', 'isMobile', 'isMonitor', 'instruments', 'licenses', 'bounds', 'distance', 'country'], axis=1, inplace=True)
df_locations.rename(columns={'id': 'location_id', 'name': 'location_name'}, inplace=True)
print(df_locations)
df_locations.to_csv('pollution_data/locations_clean.csv')

       location_id                    location_name locality  \
0                3                       NMA - Nima     None
1                4                       NMT - Nima     None
2                5                  JTA - Jamestown     None
3                6                ADT - Asylum Down     None
4                7              ADEPA - Asylum Down     None
...            ...                              ...      ...
19467      3402591                   Ferntree Drive     None
19468      3402593                    TPN Packaging     None
19469      3402594  Thung Hua Sinn Printing Network     None
19470      3402685               Airscape Fans Inc.     None
19471      3402687                          Breslau     None

                  timezone                                            sensors  \
0             Africa/Accra  [{'id': 6, 'name': 'pm10 µg/m³', 'parameter': ...
1             Africa/Accra  [{'id': 7, 'name': 'pm10 µg/m³', 'parameter': ...
2             Africa/Accra  [{'id': 10, 'name': 'pm10 µg/m³', 'parameter':...
3             Africa/Accra  [{'id': 11, 'name': 'pm10 µg/m³', 'parameter':...
4             Africa/Accra  [{'id': 14, 'name': 'pm10 µg/m³', 'parameter':...
...                    ...                                                ...
19467     Pacific/Auckland  [{'id': 12187639, 'name': 'pm1 µg/m³', 'parame...
19468         Asia/Bangkok  [{'id': 12187644, 'name': 'pm1 µg/m³', 'parame...
19469         Asia/Bangkok  [{'id': 12187649, 'name': 'pm1 µg/m³', 'parame...
19470  America/Los_Angeles  [{'id': 12188253, 'name': 'pm1 µg/m³', 'parame...
19471      America/Toronto  [{'id': 12188258, 'name': 'pm1 µg/m³', 'parame...

                                             coordinates  \
0           {'latitude': 5.58389, 'longitude': -0.19968}
1           {'latitude': 5.58165, 'longitude': -0.19898}
2       {'latitude': 5.5401139, 'longitude': -0.2103972}
3        {'latitude': 5.570722, 'longitude': -0.2120555}
4        {'latitude': 5.567833, 'longitude': -0.2040278}
...                                                  ...
19467  {'latitude': -45.8605245, 'longitude': 170.476...
19468  {'latitude': 13.587370852277184, 'longitude': ...
19469  {'latitude': 13.579648742936051, 'longitude': ...
19470  {'latitude': 42.349434084691644, 'longitude': ...
19471   {'latitude': 43.472989, 'longitude': -80.412772}

                                           datetimeFirst  \
0                                                   None
1                                                   None
2                                                   None
3                                                   None
4                                                   None
...                                                  ...
19467  {'utc': '2025-02-13T20:00:00Z', 'local': '2025...
19468  {'utc': '2025-02-14T07:00:00Z', 'local': '2025...
19469  {'utc': '2025-02-14T12:00:00Z', 'local': '2025...
19470  {'utc': '2025-02-11T18:00:00Z', 'local': '2025...
19471  {'utc': '2025-02-11T23:00:00Z', 'local': '2025...

                                            datetimeLast  country_id  \
0                                                   None         152
1                                                   None         152
2                                                   None         152
3                                                   None         152
4                                                   None         152
...                                                  ...         ...
19467  {'utc': '2025-02-14T17:00:00Z', 'local': '2025...         180
19468  {'utc': '2025-02-14T17:00:00Z', 'local': '2025...         111
19469  {'utc': '2025-02-14T17:00:00Z', 'local': '2025...         111
19470  {'utc': '2025-02-12T22:00:00Z', 'local': '2025...         155
19471  {'utc': '2025-02-12T02:00:00Z', 'local': '2025...         156

      country_code   country_name
0               GH          Ghana
1               GH          Ghana
2               GH          Ghana
3               GH          Ghana
4               GH          Ghana
...            ...            ...
19467           NZ    New Zealand
19468           TH       Thailand
19469           TH       Thailand
19470           US  United States
19471           CA         Canada

[19472 rows x 11 columns]

In [ ]:
df.to_csv("pollution_data/locations_bbox.csv")

In [ ]:



# Extraire le numéro de sensor depuis l'URL
#sensor_id_match = re.search(r'/sensors/(\d+)', url)
#sensor_id = int(sensor_id_match.group(1)) if sensor_id_match else None

# Ajouter la colonne 'sensor_id' au DataFrame
#df_sensor['sensor_id'] = sensor_id

# Afficher le DataFrame
#display(df_sensor)



#url = "https://api.openaq.org/v3/sensors/3917/days/monthly"
#url_1 = "https://api.openaq.org/v3/sensors/3917"
#url_2 = "https://api.openaq.org/v3/sensors/3917/measurements"
#url = "https://api.openaq.org/v3/locations?bbox=-10.5,36,9.6,51.1"
#url = "https://api.openaq.org/v3/sensors/3917/days/monthly"
#url = "https://api.openaq.org/v3/sensors/3917/years"
#url = "https://api.openaq.org/v3/sensors/3917/days"
#url = "https://api.openaq.org/v3/sensors/3917/measurements"
#url = "https://api.openaq.org/v3/parameters"
#url = "https://api.openaq.org/v3/locations"
#url = "https://api.openaq.org/v3/countries"